body {
    text-align: center;
    align-content: center;
}

#quiz-timer {
    font-size: medium;
}

#header {
    margin-top: 100px;
}

#answers {
    font-size: large;
    padding-top: 0px;
}

#instructions {
    font-size: large;
}
ol {
    display: inline;
    list-style-position: inside;
    margin: 0px;
}

li {
    margin: 20px;
}

button {
    margin: auto;
    margin-top: 20px;
    display: block;
    
    width: 200px;
    font-size: large;
};